body {
   background-color: #F2EBEB;
}

#nav_container {
   /* background-color: #EFFFCD; */
   position: fixed;
   /* display: block; */
   left: 3vw;
   width: 12vw;
   /* margin-top: 50px; */
   float: left;
   text-align: center;
   /* margin-right: 25px; */
   /* height: 100%; */
}

#nav_icon {
   /* --image: images/pandora.jpg; */
   background-image: url('images/pandora.jpg');
   background-repeat: no-repeat;
   background-color: purple;
   width: 12vw;
   height: 30vw;
   /* height: 100%; */
   background-size: cover;
   margin-bottom: 30px;
   /* width: 100px;
   height: 300px; */
}

#nav_menu {
   /* background-color: #CAF2C8; */
   display: flex;
   flex-direction: column;
   /* width: 100%; */
}

a.nav_menu_item:link, a.nav_menu_item:visited, a.nav_menu_item:active {
   font-family: BankPrinter;
   font-size: 8pt;
   color: #635780; /*#4C3F57; */
   /* display: inline-block; */
   /* margin: 0px 5px; */
   padding-bottom: 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
}

a.nav_menu_item:hover {
   color: #DC394E; /*#B91037;*/
   /* background-color: #dddddd; */
   /* display: inline-block; */
}

#content {
   /* float: left; */
   position: relative;
   left: 18vw;
   /* margin-left: 0px; */
   margin-top: 50px;
   /* margin: 10px 0px 10px 20px; */
   /* position: relative; */
   /* background-color: #CAF2C8; */
   width: 65vw;
   /* font-family: Fairfield;
   font-size: 11pt; */
   /* height: 80vh; */
   /* overflow: scroll; */
}

p.content-text {
   font-family: Fairfield;
   font-size: 11pt;
}

p.content-text a:link, p.content-text a:visited, p.content-text a:active {
   color: #635780;
}

p.content-text a:hover {
   color: #DC394E;
}

/* ECRITURE */

#writing_menu {
   display: flex;
   flex-direction: column;
   float: left;
   width: 25%;
}

#writing_display {
   float:left;
   width: 75%;
   margin-left: 25px;
   text-align: justify;
   font-family: Fairfield;
}

#writing_menu h1 {
   font-family: Fairfield;
   /* font-style: italic; */
   /* font-weight: normal; */
   font-size: 10pt;
   margin-bottom: 4px;
   /* text-decoration: underline double; */
}

.writing_menu_item {
   font-family: Fairfield;
   font-style: normal;
   font-size: 10pt;
   /* margin-top: 3px; */
   margin-bottom: 2px;
   margin-left: 5px;
}
.writing_menu_item_hover {
   color: red;
}

#writing_display h1 {
   font-size: 13pt;
   /* font-style: italic; */
}

#writing_display p {
   /* margin: 0; */
}
/* .writing_menu_item:link, .writing_menu_item:active, .writing_menu_item:visited  {
   font-family: serif;
}

.writing_menu_item:hover {
   font-family: serif;
   color: red;
} */


/* font stuff */

@font-face {
   font-family: Fairfield;
   src: url(fonts/fairfield_light.otf);
   /* font-style: normal; */
}

@font-face {
   font-family: Fairfield;
   src: url(fonts/fairfield_light-italic.otf);
   font-style: italic;
}

@font-face {
   font-family: Fairfield;
   src: url(fonts/fairfield_bold.otf);
   font-weight: bold;
}

@font-face {
   font-family: Fairfield;
   src: url(fonts/fairfield_bold-italic.otf);
   font-style: italic;
   font-weight: bold;
}

@font-face {
   font-family: BankPrinter;
   src: url(fonts/bank-printer.otf);
}

/* @font-face {
font-family: Fairfield;
src: url(fonts/pn_thin_italic.otf);
font-style:italic;
}

@font-face {
font-family: Fairfield;
src: url(fonts/pn_bold.otf);
font-weight:bold;
} */
